<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citic.bank.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.citic.bank.model.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="fund_type" jdbcType="VARCHAR" property="fundType" />
    <result column="fund_name" jdbcType="VARCHAR" property="fundName" />
    <result column="fund_mger" jdbcType="VARCHAR" property="fundMger" />
    <result column="compy_name" jdbcType="VARCHAR" property="compyName" />
    <result column="fund_status" jdbcType="VARCHAR" property="fundStatus" />
    <result column="risk_level" jdbcType="VARCHAR" property="riskLevel" />
    <result column="fund_rating" jdbcType="VARCHAR" property="fundRating" />
    <result column="fund_scale" jdbcType="VARCHAR" property="fundScale" />
    <result column="issue_organ" jdbcType="VARCHAR" property="issueOrgan" />
    <result column="gmt_creat" jdbcType="TIMESTAMP" property="gmtCreat" />
    <result column="yn" jdbcType="CHAR" property="yn" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fund_code, fund_type, fund_name, fund_mger, compy_name, fund_status, risk_level, 
    fund_rating, fund_scale, issue_organ, gmt_creat, yn, remark
  </sql>
  <select id="selectByExample" parameterType="com.citic.bank.model.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fund_product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_product_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fund_product_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.citic.bank.model.Product">
    insert into fund_product_info (id, fund_code, fund_type, 
      fund_name, fund_mger, compy_name, 
      fund_status, risk_level, fund_rating, 
      fund_scale, issue_organ, gmt_creat, 
      yn, remark)
    values (#{id,jdbcType=BIGINT}, #{fundCode,jdbcType=VARCHAR}, #{fundType,jdbcType=VARCHAR}, 
      #{fundName,jdbcType=VARCHAR}, #{fundMger,jdbcType=VARCHAR}, #{compyName,jdbcType=VARCHAR}, 
      #{fundStatus,jdbcType=VARCHAR}, #{riskLevel,jdbcType=VARCHAR}, #{fundRating,jdbcType=VARCHAR}, 
      #{fundScale,jdbcType=VARCHAR}, #{issueOrgan,jdbcType=VARCHAR}, #{gmtCreat,jdbcType=TIMESTAMP}, 
      #{yn,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.citic.bank.model.Product">
    insert into fund_product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fundCode != null">
        fund_code,
      </if>
      <if test="fundType != null">
        fund_type,
      </if>
      <if test="fundName != null">
        fund_name,
      </if>
      <if test="fundMger != null">
        fund_mger,
      </if>
      <if test="compyName != null">
        compy_name,
      </if>
      <if test="fundStatus != null">
        fund_status,
      </if>
      <if test="riskLevel != null">
        risk_level,
      </if>
      <if test="fundRating != null">
        fund_rating,
      </if>
      <if test="fundScale != null">
        fund_scale,
      </if>
      <if test="issueOrgan != null">
        issue_organ,
      </if>
      <if test="gmtCreat != null">
        gmt_creat,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fundCode != null">
        #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="fundType != null">
        #{fundType,jdbcType=VARCHAR},
      </if>
      <if test="fundName != null">
        #{fundName,jdbcType=VARCHAR},
      </if>
      <if test="fundMger != null">
        #{fundMger,jdbcType=VARCHAR},
      </if>
      <if test="compyName != null">
        #{compyName,jdbcType=VARCHAR},
      </if>
      <if test="fundStatus != null">
        #{fundStatus,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null">
        #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="fundRating != null">
        #{fundRating,jdbcType=VARCHAR},
      </if>
      <if test="fundScale != null">
        #{fundScale,jdbcType=VARCHAR},
      </if>
      <if test="issueOrgan != null">
        #{issueOrgan,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreat != null">
        #{gmtCreat,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update fund_product_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fundCode != null">
        fund_code = #{record.fundCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fundType != null">
        fund_type = #{record.fundType,jdbcType=VARCHAR},
      </if>
      <if test="record.fundName != null">
        fund_name = #{record.fundName,jdbcType=VARCHAR},
      </if>
      <if test="record.fundMger != null">
        fund_mger = #{record.fundMger,jdbcType=VARCHAR},
      </if>
      <if test="record.compyName != null">
        compy_name = #{record.compyName,jdbcType=VARCHAR},
      </if>
      <if test="record.fundStatus != null">
        fund_status = #{record.fundStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.riskLevel != null">
        risk_level = #{record.riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.fundRating != null">
        fund_rating = #{record.fundRating,jdbcType=VARCHAR},
      </if>
      <if test="record.fundScale != null">
        fund_scale = #{record.fundScale,jdbcType=VARCHAR},
      </if>
      <if test="record.issueOrgan != null">
        issue_organ = #{record.issueOrgan,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreat != null">
        gmt_creat = #{record.gmtCreat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yn != null">
        yn = #{record.yn,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fund_product_info
    set id = #{record.id,jdbcType=BIGINT},
      fund_code = #{record.fundCode,jdbcType=VARCHAR},
      fund_type = #{record.fundType,jdbcType=VARCHAR},
      fund_name = #{record.fundName,jdbcType=VARCHAR},
      fund_mger = #{record.fundMger,jdbcType=VARCHAR},
      compy_name = #{record.compyName,jdbcType=VARCHAR},
      fund_status = #{record.fundStatus,jdbcType=VARCHAR},
      risk_level = #{record.riskLevel,jdbcType=VARCHAR},
      fund_rating = #{record.fundRating,jdbcType=VARCHAR},
      fund_scale = #{record.fundScale,jdbcType=VARCHAR},
      issue_organ = #{record.issueOrgan,jdbcType=VARCHAR},
      gmt_creat = #{record.gmtCreat,jdbcType=TIMESTAMP},
      yn = #{record.yn,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.bank.model.Product">
    update fund_product_info
    <set>
      <if test="fundCode != null">
        fund_code = #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="fundType != null">
        fund_type = #{fundType,jdbcType=VARCHAR},
      </if>
      <if test="fundName != null">
        fund_name = #{fundName,jdbcType=VARCHAR},
      </if>
      <if test="fundMger != null">
        fund_mger = #{fundMger,jdbcType=VARCHAR},
      </if>
      <if test="compyName != null">
        compy_name = #{compyName,jdbcType=VARCHAR},
      </if>
      <if test="fundStatus != null">
        fund_status = #{fundStatus,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null">
        risk_level = #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="fundRating != null">
        fund_rating = #{fundRating,jdbcType=VARCHAR},
      </if>
      <if test="fundScale != null">
        fund_scale = #{fundScale,jdbcType=VARCHAR},
      </if>
      <if test="issueOrgan != null">
        issue_organ = #{issueOrgan,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreat != null">
        gmt_creat = #{gmtCreat,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.bank.model.Product">
    update fund_product_info
    set fund_code = #{fundCode,jdbcType=VARCHAR},
      fund_type = #{fundType,jdbcType=VARCHAR},
      fund_name = #{fundName,jdbcType=VARCHAR},
      fund_mger = #{fundMger,jdbcType=VARCHAR},
      compy_name = #{compyName,jdbcType=VARCHAR},
      fund_status = #{fundStatus,jdbcType=VARCHAR},
      risk_level = #{riskLevel,jdbcType=VARCHAR},
      fund_rating = #{fundRating,jdbcType=VARCHAR},
      fund_scale = #{fundScale,jdbcType=VARCHAR},
      issue_organ = #{issueOrgan,jdbcType=VARCHAR},
      gmt_creat = #{gmtCreat,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>